# Place in: /usr/lib/systemd/system/librespot.service

[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=network.target sound.target
After=network.target sound.target

[Service]
DynamicUser=yes
SupplementaryGroups=audio
Restart=always
RestartSec=10
ExecStart=/usr/bin/librespot --name "berri" --bitrate 320 --device "default:CARD=K6" --cache /.librespot_cache --enable-volume-normalisation --initial-volume 25 --volume-ctrl linear --device-type speaker

[Install]
WantedBy=multi-user.target
